html {
    /* fro smooth scrolling */
    scroll-behavior: smooth;
}

/* set foreground to this color */
body {
    color: #161616;
}

/* Set foreground to this color */
a {
    color: #161616;
}

/* set display for class with visually-hidden */
.visually-hidden {
    display: none;
}

/* set class card-category foreground color*/
.card-category {
    color: #d73953;
}

/* class section-tagline foreground color*/
.section-tagline {
    color: #d73953;
}
