html {
    /* fro smooth scrolling */
    scroll-behavior: smooth;
}

/* set foreground to this color */
body {
    color: #161616;
}

/* Set foreground to this color */
a {
    color: #161616;
}

/* set display for class with visually-hidden */
.visually-hidden {
    display: none;
}

/* set class card-category foreground color*/
.card-category {
    color: #d73953;
}

/* class section-tagline foreground color*/
.section-tagline {
    color: #d73953;
}

/* Define custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Reset color of section-tagline and card-category classes */
.section-tagline,
.card-category {
    color: var(--color-primary);
}

/* reset color for body and anchor elements to text-color */
body,
a {
    color: var(--text-color);
}
