html {
    /* fro smooth scrolling */
    scroll-behavior: smooth;
    /* set font size for HTML element % of its normal size */
    font-size: 62.5%;
}

/* set foreground to this color */
body {
    color: #161616;
    /* apply font to body*/
    font-family: var(--font-family-base);
    /* apply font-size-medium to body */
    font-size: var(--font-size-medium);
    /* set font-weight-regular for fonts */
    font-weight: var(--font-weight-regular);
}

/* Set foreground to this color */
a {
    color: #161616;
}

/* set display for class with visually-hidden */
.visually-hidden {
    display: none;
}

/* set class card-category foreground color*/
.card-category {
    color: #d73953;
}

/* class section-tagline foreground color*/
.section-tagline {
    color: #d73953;
}

/* Define custom properties */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    /* define the font for root elements*/
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    /* define custom font-size properties */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    /* define custom font-weight properties */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* Reset color of section-tagline and card-category classes */
.section-tagline,
.card-category {
    color: var(--color-primary);
}

/* reset color for body and anchor elements to text-color */
body,
a {
    color: var(--text-color);
}

/* apply to headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    /* set font-weight-bold for headings */
    font-weight: var(--font-weight-bold);
}
